.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
    position: fixed; // Ajout pour fixer la navbar en haut de la page
    top: 0; // Assure que la navbar est toujours en haut
    left: 0; // Assure que la navbar s'étend à partir du bord gauche
    width: 100%; // S'étend sur toute la largeur de la page
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1); // Ajoute une ombre pour un effet de profondeur
    z-index: 1000; // Assure que la navbar reste au-dessus des autres contenus
    &__logo {
        font-size: 1.5rem;
    }
    &__links {
        display: flex;
        list-style: none;
        li {
            padding: 0 1rem;
            .btn {
                background: none;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
        &.is-active {
            display: block;
            position: absolute;
            width: 100%;
            top: 60px; // Ajustez si nécessaire en fonction de la hauteur de votre navbar
            left: 0;
            background: #333;
            flex-direction: column;
            align-items: center;
            li {
                padding: 1rem;
            }
        }
    }
    &__toggle {
        display: none;
        cursor: pointer;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .navbar__links {
        display: none;
    }
}

body {
    padding-top: 60px; // Ajustez cette valeur en fonction de la hauteur réelle de votre navbar
}